<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Collection</title>
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

 
  <h2>Records</h2>
  <button style="text-align: right;"><a href="/">Back</a></button>  
  <a href="/showstudents">List All Students</a> 
  <form action="/show-students" method="POST">
   
    <table class="table">
      <tr>
        <td>
          <input type="text" name="stclass" class="form-control" placeholder="Search..." >
        </td>
        <td>
          <input type="text" name="section" class="form-control" placeholder="Search..." >
        </td>
        <td>
          <button type="submit" class="btn btn-info">Search</button>
        </td>
      </tr>
    </table>
  </form>

  <h2>Attendance Records</h2>
  
  <form action="/showattendance" method="POST">
    <table class="table">
      <tr>
        <td>
          <input type="text" name="stclass" class="form-control" placeholder="Search..." >
        </td>
        <td>
          <input type="text" name="section" class="form-control" placeholder="Search..." >
        </td>
        <td>
          <button type="submit" class="btn btn-info">Search</button>
        </td>
      </tr>
    </table>
  </form> 



  
    <% var std = [1,2,3,4,5,6,7,8,9] %>
      <%var sections=['A','B','C'] %>  

          <% for (let i=0;i<std.length;i++) {%>
        <% for (let j=0;j<sections.length;j++)  {%>
        
          <%var student=students.filter(function(stud) {%> 
          <% return (std[i]==stud.stclass && sections[j]==stud.section)%>  

        <% }) %>   
      
      
        
     
   
    <% if(student!=0){%>    

    <table class="table table-bordered">
    <thead style="font-weight: lighter;">      
         
     
      <p>Class <%= std[i] %> Section <%= sections[j]%></p> 
      
    
      <tr style="font-size: 15px;font-weight: lighter;">
        <th >User Name</th>
        <th>Full Name</th>
        <th>Class</th>
        <th>section</th>
        <th>Action</th>
      </tr>
    </thead> 
     
    <tbody>
    
        <% student.forEach(function(details) { %>    
  
      <tr>  
   
        <td scope="row"><%= details.username  %></td>        
        <td><%= details.name %></td>
        <td><%= details.stclass %></td>
        <td><%= details.section %></td>
         
      
       
       <td style="font-weight: lighter;font-size: small;"><a href="/edit/<%= details._id %>">Edit</a> | <a href="/delete/<%= details._id %>">Delete</a></td>   
     
   
      <% })%> 
    
     
     
      <% }%> 
      <% }%>
      <% }%>      
   
    </tr> 
      
      
    </tbody>   
    </table>  
    
   
</body>
</html>